@import "compass/css3";

body {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 700;
}

header.masthead {
  position: relative;
  background-color: #343a40;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 8rem;
  padding-bottom: 8rem;
}

header.masthead .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

header.masthead h1 {
  font-size: 2rem;
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 12rem;
    padding-bottom: 12rem;
  }
  header.masthead h1 {
    font-size: 3rem;
  }
}

.showcase .showcase-text {
  padding: 3rem;
}

.showcase .showcase-img {
  min-height: 30rem;
  background-size: cover;
}

@media (min-width: 768px) {
  .showcase .showcase-text {
    padding: 7rem;
  }
}

.features-icons {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.features-icons .features-icons-item {
  max-width: 20rem;
}

.features-icons .features-icons-item .features-icons-icon {
  height: 7rem;
}

.features-icons .features-icons-item .features-icons-icon i {
  font-size: 4.5rem;
}

.features-icons .features-icons-item:hover .features-icons-icon i {
  font-size: 5rem;
}

.testimonials {
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.testimonials .testimonial-item {
  max-width: 18rem;
}

.testimonials .testimonial-item img {
  max-width: 12rem;
  box-shadow: 0px 5px 5px 0px #adb5bd;
}

.call-to-action {
  position: relative;
  background-color: #343a40;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  padding-top: 7rem;
  padding-bottom: 7rem;
}

.call-to-action .overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.3;
}

.headings {
  font-family: "Roboto","Arial";
  font-size: 40px;
  color: #ffa300;
}

footer.footer {
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.dm-title {
  font-family: Roboto;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 20px;
  padding-left: 10px;
  font-weight: 200px;
}


li {
  list-style-type: none;
}

.container-dm {
  width: 250px;
  margin: 50px auto;
  border: 1px #d3d3d3 solid;
  background-color: white;
}
.container-dm > ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.drop-down {
  color: #9800c3;
  font-size: 16px;
  list-style: none;
  overflow: hidden; /* When ul height is reduced, ensure overflowing li are not shown */
  height: 140px; /* 172px = (38 (li) + 5 (li border)) * 4 (number of li) */
  background-color: white;
  font-family: Roboto;
  width: auto;
  margin: 0 auto;
  padding: 0;
  -webkit-transition: height 0.3s ease;
          transition: height 0.3s ease;
  border-top: 1px #d3d3d3 solid;
  border-bottom: 1px #d3d3d3 solid;
  font-weight: 200px;
}

.drop-down.closed {
  /*  When toggled via jQuery this class will reduce the height of the ul which inconjuction
      with overflow: hidden set on the ul will hide all list items apart from the first */
  /* current li height 38px + 5px border */
  height: 43px;
}

.drop-down li {
  border-bottom: 5px solid #ffffff;
}

.drop-down li a {
  display: block;
  color: #9800c3;
  padding: 10px; /* Larger touch target area */
}

.under {
  padding-left: 20px;
}

.drop-down li:first-child a:after {
  content: "\25BC";
  float: right;
  margin-left: -30px; /* Excessive -margin to bring link text back to center */
  margin-right: 5px;
}

.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'),
       local('Roboto-Regular'),
       url(http://themes.googleusercontent.com/static/fonts/roboto/v11/2UX7WLTfW3W8TclTUvlFyQ.woff)
       format('woff');
}

.nav-item {
  font-family: Roboto;
}

.nav-logo {
  margin-left: 40px;
}

.navbar-nav {
  flex-direction: row;
}

.navbar-nav .nav-link {
    padding-right: 1;
}

.nav-buttons{
  margin-right: 20px;
  margin-left: 20px;
}

.bg-light {
    background-color: #fffaee!important;
}

.fa {
  color: grey;
}

body {
  background-color: #fffaee;
}
